<h1 mat-dialog-title>Contact Us</h1>
<div mat-dialog-content>
  <form [formGroup]="contactForm">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="name">
      </mat-form-field>
      <mat-form-field>
      <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
          Email is field required
        </mat-error>
        <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput type="message"></textarea>
      </mat-form-field>
      <button mat-button (click)="onClick()"> Submit</button>
  </form>
    
  
</div>
<!--<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data()" cdkFocusInitial>Send</button>
</div>
-->
